<style>
    body{
        margin: 0;
        padding: 0;
        background-color: whitesmoke;
    }
    h1{
        color: white;
        text-align: center;
        font-style: oblique;
        font-size: 2em;
        margin: 15px;
    }
    header{
        background-color:  rgb(16, 87, 181);
        width: 100%;
        padding: 1%;
    }
    nav{
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    nav ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        align-items: center;
        justify-content: center;
    }
    main{
        width: 70%;
        margin: 4% auto;
    }
    h2{
        text-align: center;
    }
</style> 
<header>
    <h1>Noticias</h1>
</header>
