
<nav>
    <ul>   
        <li><a href="/noticias">Inicio</a></li>
    </ul>
    <form action="/noticias/" method="get">
        <label for="periodista">Id del periodista</label>
        <input name="periodista" type="number" placeholder="id del periodista">
        <input type="submit" value="Buscar">
    </form>
</nav>